* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: 15px;
}

body {
	font-family: /*'THSarabunNewRegular',*/ century gothic, sans-serif;
	min-width: 290px;
	color: #3c3c3c;
	background-color: #ffffff;
	letter-spacing: 1px;
	line-height: 1.6;
}

h1 {
	font-style: bold;
	font-size: 6em;
}

h2 {
	font-style: bold;
	font-size: 3em;
}

#navbar {
	position: fixed;
	width: 100%;
	background-color: #ffffff;
	border: 2px solid #3c3c3c;
}

nav ul {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
}

nav li {
	padding: 10px;
	font-size: 1em;
}

#mainDoc {
	padding-top: 45px;
}

#welcome-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 92vh;
	border: 2px solid #3c3c3c;
	background-color: #efefef;
}

#projects {
	background-color: #dfdfdf;
}

.project-tile {
	border: 2px solid #3c3c3c;
	border-radius: 30px;
	background-color: #bfbfbf;
	margin: 10px;
	padding: 20px;
	
}