* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'THSarabunNewRegular';
	font-weight: normal;
	font-style: normal;
}

#navbar {
	position: fixed;
	display: block;
}

nav ul {
	display: flex;
	flex-direction: row;
}

#mainDoc {
	
}

section {
	
}