

body {
	font-family: 'THSarabunNewRegular', CenturyGothic, AppleGothic, sans-serif;
	min-width: 290px;
	color: #3c3c3c;
	background-color: #ffffff;
	letter-spacing: 1px;
	line-height: 1.6;
	text-align: center;
	text-decoration: none;
	font-size: 1.5em;
}

h1 {
  font-weight: 200;
	font-size: 6em;
	max-width: 80%;
	margin: 0 auto 0 auto;
}

h2 {
	font-size: 3em;
	max-width: 80%;
	margin: 0 auto 0 auto;
}

a {
	text-decoration: none;
}
/* unvisited link */
a:link {
  color: tomato;
}

/* visited link */
a:visited {
  color: darkblue;
}

/* mouse over link */
a:hover {
  color: pink;
}

/* selected link */
a:active {
  color: blue;
}

/* label under the map */
#mapLink {
	font-size: smaller;
}

#navbar {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #ffffff;
}

nav ul {
	display: flex;
	justify-content: space-around;
    align-content: center;

}

nav li {
	font-size: 0.5em;
}

nav li a {
	font-size: 2em;
}

#mainDoc {
	overflow-y: scroll;
	scroll-snap-type: y mandatory;
	height: 90vh;
	scroll-snap-stop: always;
}

#welcome-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 90vh;
    background-color: white;
    bottom: 0;
}

#projects {
	border: 0;
}

.project-tile {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  background-image: radial-gradient(#ececec, white);
	height: 90vh;
	bottom: 0;
}

.project-tile img {
	height: auto;
  max-height: 50vh;
	width: 80%;
	margin: 20px auto 0 auto;
	border: 0px solid #999;
	border-radius: 10px;
}

.project-tile p {
  font-size: smaller;
}

#bio p {
	font-size: 1.25em;
	margin: 0.5em;
	width: 80%;
	text-align: left;
}

.where {
	display: flex;
	flex-direction: column;
	justify-content: center;
	border: 0;
  background-image: radial-gradient(#ececec, white);
	height: 90vh;
}

#map {
	display: block;
	margin: 0 auto 0 auto;
	border: 0;
	border-radius: 10px;
	width: 80%;
	height: 250px;
}

/* For mobiles */
@media only screen and (max-width: 815px) {
	h1 {
		font-size: 4em;
	}
	
	h2 {
		font-size: 2em;
		line-height: 1.25em;
	}
	
	#bio {
		line-height: 1.5em;
	}
	
	#bio h2 {
		font-size: 2em;
	}
}

#footerNav {
    position: fixed;
    width: 100%;
}

.snap {
    scroll-snap-align: center;
}
